body,
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* display: -webkit-flex; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div {
  width: 50px;
  height: 50px;
  /* flex-basis: 30%; */
  /* border-style: solid; */
  /* border-top: 2px solid red;
  border-right: 5px solid green;
  border-bottom: 10px solid yellow;
  border-left: 15px solid blue; */
  /* outline: 10px solid red; */
}
.a1 {
    background-color: #aaa;
    /* align-self: flex-end; */
    /* justify-self: flex-start; */
    /* flex-basis: 800px; */
    /* flex-grow: 1; */
}
.a2 {
    background-color: #333;
    /* flex-basis: 200px; */
    /* flex-grow: 0; */
    /* align-self: center; */
    /* align-self: flex-end; */
}

/* .a1 { */
/* color: # */
/* } */