body,
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
body {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 50px;
  height: 50px;
  background-color: #aaa;
  border-style: solid;
  border-top: 2px red;
  border-right: 5px green;
  border-bottom: 10px yellow;
  
}
/* .a1 { */
  /* color: # */
/* } */