body,
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.a1 {
    background-color: #aaa;
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* justify-self: flex-start; */
    /* flex-basis: 800px; */
    /* flex-grow: 1; */
}
.a2 {
    background-color: #333;
    /* flex-basis: 200px; */
    /* flex-grow: 0; */
    /* align-self: center; */
    align-self: center;

}

/* .a1 { */
/* color: # */
/* } */